.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1500px;
  margin: 0 auto;
}

.container .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 250px;
  height: 300px;
  border: 1px solid red;
  margin: 10px;
}

.container .card .title-item {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid blue;
}

.container .card .underline {
  border-bottom: 1px solid gray;
  text-align: center;
}

